body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
    background-color: rgb(200,240,240);
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#centrWinB{ 
position:relative;
margin-left:auto;
margin-right:auto;
margin-top:10px;
border-color:rgb(20,20,20);
background-color:rgba(50,220,240,0.9);
border-radius:20px;
width:50%;
}

#centerB{
position:relative;
width:90%;
margin-left:5%;
margin-right:5%;
border-radius:20px;
}

#beginB{
position:absolute;
width:100%;
}

#addressWin{
position:relative;
background-color: rgba(70,220,250,0.9);
padding: 1% 0 1% 0;
width:100%;
margin:0;
	
}

#info,#regist{
position:relative;
margin-left:auto;
margin-right:auto;
width: 50%;
}


.h40 { height: 40px; }

.alignTwoRight
{
  position:relative; 
  right:0px;
  width: 75%;
  z-index:0;
  float:right;
  
}

.alignTwoLeft
{
  position:relative;
  left:0px;
  width: 20%;
  z-index:1; 
}

.inputCRDB{
 position:relative;
 float:right;
 padding:0; 
}



.refreshCRDB{
 position:relative;
 float:left;
 margin: 10px 20%;
}

.hOut{
 left:40%;
 position:absolute;
 display:inline;
margin: 0; 
}

.hMess{
margin: 0; 
}

.artImg
{
 height:200px;
 width:200px;
}


.addUsersReg
{
  margin: 0 auto;
  padding: 20px;
  width:40%; 
  background-color: rgb(100,220,200);
  border-radius: 5px;
}

.logPass div h4{ 
  text-align: left;
  width: 100%;
}

.addUsersReg div{
   padding-top: 15px;
}

.addUsersReg include{  

clear:both;
}

.usersReg{  
  margin-left:60%;
  width:40%;
  background-color: rgba(100,220,200,1);
  border-radius: 5px;
  max-width: 350px;
  min-width: 300px;
}

.usersReg div h4{
   display: block;
   margin: 0;
   width:80px; 
   float:left;
   margin-top: 4px;
}

.usersReg div{
  margin-bottom: 5px; 
  padding: 0 5%
}

.pagging { 
	margin: 0 0 20px; 
	padding: 0;
        
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
        float: left; 
}

.pagging ul li a { 
	
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #fff; 
        border-radius: 5px;
        background: rgb(100,200,250); 
}

.pagging ul li a:hover { 
	background: rgb(50,100,250); 
	color: #fff; 
}

.pagging h4,.pagging ul li h4{
            float: left; 
            display: block; 
            color: #333; 
            text-decoration: none; 
            padding: 5px 10px;  
            margin: 0;  
}

h1, h2, h3, h4, h5, h6 {
	color:#000;
	letter-spacing:normal;
	font-weight:400;
	padding: 0;
	margin: 0;
}

em { color: #ff0d40 }

h1 { font-size:32px;line-height:40px; margin-bottom: 20px; text-shadow:2px 2px rgb(200,250,200); }
h2 { font-size:28px; margin-bottom: 20px; }
h3 { font-size:20px; margin-bottom: 20px; }
h4,a { font-size:16px; margin-bottom: 10px; font-weight:100;color:black;}
h5 { font-size:14px }
h6 { font-size:12px }



textarea {
	
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
	width:98%;
	padding: 5px;
	
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

input[type="datetime-local"]{
	
	padding: 3px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 4px;
}

input[type="submit"]{
	padding: 3px;
	width: 80px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin:0px 2%;
        
}

.installForm{
  padding: 10px;
  margin: 15 px;  
}

.installForm h4{
    margin: 0px;
    padding: 0px;
}

.post,.postUser { /* задает стиль панели незарегистрированных и зарегистрированных пользователей */
        text-align:center;
	    margin: 0 10px;
        font-family: Georgia, "Times New Roman", Times, serif;
	    padding: 10px 10px;
	    border: 1px solid #eee;
        background:#fff none repeat fixed 0 0;
        border-radius:5px;
        background-color: rgb(150,250,250);
        overflow: hidden;
        text-overflow: ellipsis;
}
.post h1,.postUser h1{cursor: pointer}

.postText,.postTextUser{/* задает стиль аннонса на ленте новостей*/
       text-align:left;
        margin: 5px 0 0 0;
	padding: 5px;
	border: 0px solid #eee;
        background:#fff none repeat fixed 0 0;
        background-color: rgb(255,255,255); 
        overflow: hidden;
        text-overflow: ellipsis;
}

.postUser {border-radius:5px;
           background-color: rgba(70,230,100,0.8);}

.article {/*задает стильцентрального окна с одной новостью*/
	      margin: 10px;
          font-family: Georgia, "Times New Roman", Times, serif;
	      padding: 15px;
	      border: 1px solid #eee;
          background:#fff none repeat fixed 0 0;
          border-radius:5px;
          background-color: rgba(150,250,250,1);
          display:block;
          overflow: hidden;
          text-overflow: ellipsis;
        }

.article div{
            margin-top:20px;
        }
            
.textArt{ /*задает стиль новостей в составе центрального окна*/
        text-align:left;
        margin: 5px;
	padding: 5px;
	border: 0px solid #eee;
        background:#fff none repeat fixed 0 0;
        background-color: rgba(255,255,255,1);
        overflow: hidden;
        text-overflow: ellipsis;
}

.article h1{
    text-align:center;
    margin: 20px; 
}

.artImg{ 
    border: 1px solid #eee;
    position:relative;
    display: inline;
}

ul{
 list-style-type:none; 
  margin: 0;
  padding: 0;
}
 
 h4.linkText,h4.linkText:hover,h4.linkText:active,h4.linkText:visited,h4.linkText:link,
 a.linkText,a.linkText:hover,a.linkText:active,a.linkText:visited,a.linkText:link
{   text-decoration:none;
    outline:none;
    background-color: rgb(50,180,120); 
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    float:bottom;
    width:120px;
    text-align: center;
    cursor: pointer;
    font-size:15px;
    }
    
    #reportOutIn{
      margin:0;
      padding: 0;
    }
    
    ul li a{cursor: pointer}